.row {
  display: flex;
}

.unit {
  height: 50px;
  width: 50px;
  border: 1px solid green;
  padding: 0px;
  border-radius: 10px;
  margin: 0px;
  font-size: 50px;
  font-family: helvetica;
  text-align: center;
}

.snake {
  background-color: lightgreen;
  border-radius: 15px;
  border: 1px solid lightgreen;
  box-shadow: 10px 10px 5px #888888;
}

.fruit {
  background-color: orange;
  border-radius: 50px;
  border: 1px solid orange;
}

.textdiv {
  display: flex;
  width: 1040px;
  border: 1px solid green;
  padding: 0px;
  margin: 1px;
  border-radius: 10px;

}

.textDis {
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  font-size: 30px;
  font-family: helvetica;
  text-align: center;
}

.score {
  margin-left: 35px;
}

.pause {
  width: 265px;
  background-color: salmon;
}

.restart {
  width: 265px;
  background-color: teal;
}
